@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&family=Questrial&display=swap');

// Main Color Pallete

$blackmain: #121212;
$redmain: #f2202C;
$redsub: #7B1F33;
$greymain: #82A0B0;
$whitemain: #F5F3F0;

// Fonts

$mainfont: Orbitron;
$subfont: Questrial;
$fonts-default: Arial, Helvetica, sans-serif;
